@use '../../../styles/abstract/color' as *;
@use '../../../styles/base/variable' as *;

// COMPONENT STYLES
@mixin Button {
  height: 48px;
  max-width: fit-content;
  padding: 0 $size-24;
  border: none;
  border-radius: $size-12;
  cursor: pointer;
  // text-transform: uppercase;

  font-family: "Work Sans", sans-serif;
  color: $primary-100;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  text-align: left;
}

a .button {
  text-decoration: none;
}

.button.primary {
  @include Button();
  background-color: $primary-500;
  display: flex;
  align-items: center;
  gap: $gap-sm;

  &:hover {
    box-sizing: border-box;
    box-shadow: $shadow-sm;
    background-color: $primary-600;
    box-shadow: $shadow-lg;
  }
  &:focus {
    box-shadow: $shadow-sm; 
    background-color: $primary-200;
  }
  &:disabled {
    background-color: $neutral-300;
    color: $neutral-500;
    cursor: not-allowed;
    box-shadow: none;
  }
  
  img {
    height: 18px !important;
    width: auto !important;
    fill: white;
  }
}

.button.secondary {
  @include Button();
  background-color: transparent;
  color: $neutral-800;
  border: 1px solid $neutral-800;

  &:hover {
    background-color: transparent;
    box-shadow: $base-shadow-4;
    color: $neutral-800;
    border: 2px solid $neutral-800;
    text-decoration: underline;
  }
  &:focus {
    background-color: $neutral-100;
    box-shadow: $shadow-sm;
    color: $primary-600;
    border: 2px solid $neutral-300;
  }
  &:disabled {
    background-color: transparent;
    color: $neutral-300;
    border: 2px solid $neutral-300;
    cursor: not-allowed;
  }
}

.button.link {
  max-width: fit-content;
  border: none;
  cursor: pointer;
  height: auto;
  font-family: "Work Sans", sans-serif;
  color: $primary-900;
  font-size: 18px;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: 0.07em;
  text-align: left;
  background-color: transparent;
  padding: 0;
  text-decoration: none;
  &:hover {
    background-color: transparent;
    color: $primary-600;
    text-decoration: underline;
    font-weight: 600;
  }
  &:focus {
    background-color: transparent;
    color: $primary-600;
    text-decoration: underline;
    
  }
  &:disabled {
    background-color: transparent;
    color: $neutral-500;
    text-decoration: none;
    cursor: not-allowed;
  }
}
.button.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

// Button page
.button-page {
  .example-section {
    .padding {
      
    }
  }
}