@use '../styles/base/_variable' as *;
@use '../styles/abstract/_color' as *;
@use '../styles/abstract/_typo' as *;
@use '../styles/layout/_breakpoint' as *;
@use '../styles/layout/_layout' as *;
@use '../styles/base/_mixin' as *;


.success {
    background-color: $primary-100;
    @include main-page-layout;
    padding-bottom: $size-128;
    box-sizing: border-box;

    .successModal {
        @include flexColumn;
        gap: $size-24;
        justify-content: center;
        align-items: center;
        padding: $size-128;
    }
}