@use '../../../styles/layout/_breakpoint' as *;
@use '../../../styles/base/_variable' as *;
@use '../../../styles/abstract/_color' as *;
@use '../../../styles/base/_mixin' as *;



a.otherProductCard {
    background-color: $neutral-100;
    box-shadow: $base-shadow-3;
    border-radius: $radius-sm;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    outline: 1px solid $neutral-100;
    @include flexRow;

    a {
        text-decoration: none;
        box-sizing: border-box;
    }
    .otherProductCardImage {
        width: auto;
        height: 166px;
        background-color: $neutral-200;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $size-24 0;
        img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }
    .otherProductCardDetails {
        width: auto;
        height: auto;
        @include flexColumn;
        padding: $padding-md;
        gap: $gap-sm;
        justify-content: space-between;

        h5 {
            color: $primary-600;
            font-weight: bold;
        }
        h5, p {
            color: $neutral-900;
            }
    }

    &:hover {
        outline: 1px solid $primary-300;

        transition: outline 0.3s;

        box-sizing: border-box;
        box-shadow: $shadow-md;
        h5 {
            color: $primary-500;
        }
    }


    @media (min-width: map-get($breakpoints, "xxs")) {
        border-radius:$radius-sm;
        @include flexColumn;
        .otherProductCardDetails {
            gap: $gap-sm;
            padding: $padding-xmd;
        }
    }
    @media (min-width: map-get($breakpoints, "xs")) {
        border-radius:$radius-sm;
        @include flexColumn;
    }
    @media (min-width: map-get($breakpoints, "sm")) {
        border-radius:$radius-sm;
        @include flexColumn;

    }
    @media (min-width: map-get($breakpoints, "md")) {
        border-radius:$radius-sm;
        @include flexColumn;
    }
    @media (min-width: map-get($breakpoints, "lg")) {
        border-radius:$radius-md;
        @include flexColumn;
    }
    @media (min-width: map-get($breakpoints, "xl")) {
        border-radius:$radius-md;
        @include flexColumn;
    }
    @media (min-width: map-get($breakpoints, "xxl")) {
        border-radius:$radius-md;
        @include flexColumn;
    }
}