@use './variable' as *;
@use './mixin' as *;
@use '../abstract/color' as *;

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

img, iframe, object, embed, video {
	width: auto;
	max-width: 100%;
}

a {
    text-decoration: underline;
}


::-webkit-scrollbar {
    width: 3px;
    height: 0.75px;
}
::-webkit-scrollbar-thumb {
    background: $primary-500;
}
::-webkit-scrollbar-track {
    background: $neutral-200;
}


.link-active, .link {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}

.link-active {
    font-weight: 900;
}
.link {
    font-weight: 500;
}


.homepage {
    background-color: $primary-100;
}

.kozmetika {
    background-color: $red-100;
}
.kozmetika-individual {
    background-color: $neutral-100;
}

.caj {
    background-color: $blue-100;
}

.caj-individual {
    background-color: $blue-100;
}

.contact-page {
    background-color: $primary-100;
}

.blog-page {
    background-color: $neutral-100;
}
.article-page {
    background-color: $neutral-100;
}


// body.homepage {
//     background-color: $primary-100;
// }

// body.kozmetika {
//     background-color: $red-100;
// }
// body.kozmetika-individual {
//     background-color: $red-100;
// }

// body.caj {
//     background-color: $blue-100;
// }

// body.caj-individual {
//     background-color: $blue-100;
// }

// body.contact-page {
//     background-color: $primary-100;
// }

// body.blog-page {
//     background-color: $neutral-100;
// }
// body.article-page {
//     background-color: $neutral-100;
// }
