@use "./_variable.scss" as *;
@use "../abstract/_color.scss" as *;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin flexRow {
    display: flex;
    flex-direction: row;
}
.row {
    @include flexRow;
}
.column {
    @include flexColumn;
}


@mixin vaweUp {
    &::before {
        content: "";
        position: absolute; 
        top: -26px;
        left: 0;
        width: 100%;
        height: 26px;
        background-image: url(../../assets/image/vawe/vawe-top-green-200.svg);
        background-size: cover; 
        z-index: 1; 
    }
}

@mixin vaweDown {
    &::after {
        content: "";
        position: absolute; 
        bottom: -26px;
        left: 0;
        width: 100%;
        height: 26px;
        background-image: url(../../assets/image/vawe/vawe-bottom-green-200.svg);
        background-size: cover; 
        z-index: 1; 
    }
}

