@use '../../styles/layout/_breakpoint' as *;
@use '../../styles/base/_variable' as *;
@use '../../styles/abstract/_color' as *;

.productCard {
    display: flex;
    flex-direction: column;
    img {  
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}
a.productCard  {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    text-decoration: none;
    text-align: center;

    h6 {
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-size: 21px;
        line-height: 130%;
        color: $neutral-900;
    }

    &:hover {
        h6 {
            color: $primary-500;
        }
    }
}