@use '../../../styles/layout/_breakpoint' as *;
@use '../../../styles/base/_variable' as *;
@use '../../../styles/abstract/_color' as *;
@use '../../../styles/base/_mixin' as *;

/* FormStyles.css */

.textbox {
  margin-bottom: 20px;
  @include flexColumn;
  gap: $size-4;
  label {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
    color: $neutral-100;
    letter-spacing: 1.23px;
  }
  textarea {
    padding: $size-8 $size-12;
    height: $size-98;
    width: auto;
    border-radius: $size-12;
    &::placeholder {
      font-size: 14px;
      color: $neutral-800;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      line-height: 115%;
    }
  }
}


/* Dodatni stilovi ako želite prilagoditi izgled placeholder teksta */
.textbox-input::placeholder {
  color: #999;
}
