@use '../layout/_breakpoint' as *;
@use '../base/_variable' as *;
@use '../abstract/_color' as *;
@use '../base/_mixin' as *;
@use '../layout/_grid' as *;
@use '../abstract/_typo' as *;


@mixin footer {
    position: relative;
    // margin-top: $margin-xxl; 
    // background-color: $red-200;
    color: $neutral-100;
    overflow: visible;

    &::before {
        content: "";
        position: absolute; 
        top: -26px;
        left: 0;
        width: 100%;
        height: 26px;
        // background-image: url(../../../assets/image/vawe-top-follow-red.svg);
        background-size: cover; 
        z-index: 1; 
    }
    .footer-container {
        @include flexColumn;
        gap: $gap-xl; 

        .logo {
            display: flex;
            gap: $gap-md;
        }
        .footerTop {
            display: flex;
            justify-content: space-between;
            align-content: flex-start;
    
            .topNav {
                display: flex;
            }
            nav {
                gap: $gap-lg;
                a {
                    color: white;
                    text-decoration: none;
                }
                .column {
                    gap: $gap-sm;
                    a {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                    }
                }
            } 
            .social {
                gap: $gap-sm;
                align-items: center;
                .row {
                    gap: $gap-sm;
                }
            }
        }
        .line {
            height: 1px;
            width: 100%;
            background-color: $neutral-100;
        }
        .footerBottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .row {
                gap: $gap-md; 
            }
        }
    }


    @media (min-width: map-get($breakpoints, "xxs")) {
        padding: $size-64 $margin-sm;
        .footer-container {
            align-items: center;
            .footerTop {
                width: 100%;
                flex-direction: column;
                gap: $gap-lg;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                    align-items: center;
                }
                .topNav {
                    flex-direction: column;
                    gap: $gap-xl;
                    nav.row {
                        justify-content: space-between;
                    }
                }
            }
            .footerBottom {
                width: 100%;
                flex-direction: column;
                gap: $gap-lg;
            }
        } 
    }
    @media (min-width: map-get($breakpoints, "xs")) {
        padding: $size-64  $margin-md;
        .footer-container {
            .footerTop {
                flex-direction: column;
                gap: $gap-xl;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: column;
                    justify-content: space-between;
                    gap: $gap-xl;
                }
            }

            .footerBottom {
                width: 100%;
                flex-direction: column;
                gap: $gap-lg;
            }
        }
    }
    @media (min-width: map-get($breakpoints, "sm")) {
        padding: $size-64  $margin-md;
        .footer-container {
            .footerTop {
                flex-direction: column;
                gap: $gap-lg;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
    }
    @media (min-width: map-get($breakpoints, "md")) {
        padding: $size-64  $margin-md;
        .footer-container {
            .footerTop {
                flex-direction: column;
                gap: $gap-lg;
                .logo {
                    flex-direction: row;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: row;
                    gap: $gap-xl;
                }
            }
            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
    }
    @media (min-width: map-get($breakpoints, "lg")) {
        padding: $size-64  $margin-md;
        flex-wrap: wrap;
        .footer-container {
            .footerTop {
                flex-direction: row;
                justify-content: space-between;
                gap: $gap-lg;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: column;
                    gap: $gap-xl;
                }
            }
            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
        
        
    }
    @media (min-width: map-get($breakpoints, "xl")) {
        padding: $size-64 $margin-md;
        .footer-container {
            .footerTop {
                flex-direction: row;
                gap: $gap-lg;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: column;
                    gap: $gap-xl;
                }
            }
            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
        
    }
    @media (min-width: map-get($breakpoints, "xxl")) {
        padding: $size-64 $margin-lg;
        .footer-container {
            width: auto;
            .footerTop {
                flex-direction: row;
                gap: $gap-lg;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: column;
                    gap: $gap-xl;
                }
            }

            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
    }
}
