@use '../base/_variable' as *;
@use '../layout/_breakpoint' as *;
@use '../layout/layout' as *;
@use '../abstract/_color' as *;
@use '../base/_mixin' as *;

.container {
    @include layout-container;
}

.homepage {
    @include flexColumn;
    gap: $gap-xl;

    img {
        border-radius: $radius-sm; 
    }

    .hero {
        background-color: $primary-100;
        height: 73vh;
        width: 100%;
        display: grid;
        .column {
            place-self: center;
        }
    }
    .tabs-container {
        @include flexColumn;
        gap: $size-24;
        align-items: center;
        a {
            text-decoration: none;
        }
    }

    

    @media (min-width: map-get($breakpoints, "xxs")) {
        
    }

    @media (min-width: map-get($breakpoints, "xs")) {

    }

    @media (min-width: map-get($breakpoints, "sm")) {

    }

    @media (min-width: map-get($breakpoints, "md")) {

    }

    @media (min-width: map-get($breakpoints, "lg")) {

    }

    @media (min-width: map-get($breakpoints, "xl")) {
       
    }

    @media (min-width: map-get($breakpoints, "xxl")) {

    }
}