@use '../base/_variable' as *;
@use '../abstract/_color' as *;
@use '../abstract/_typo' as *;
@use '../layout/_breakpoint' as *;
@use '../base/_mixin' as *;


main {
    @include flexColumn;
}

.productContainer {
    @include flexRow;
    position: relative;
    margin: 0 $margin-lg;

    .productImage {
        width: 100%;
        @include flexColumn;
        align-items: center;
        justify-content: center;
        img {
            width: 250px;
            height: auto;
            object-fit: cover;
        }
    }

    .productDetails {
        @include flexColumn;
        gap: $gap-md;
        width: 100%;

        h4 {
            color: $primary-700;
        }
        p {
            color: $neutral-700;
        }


        .productDetailsList {
            @include flexColumn;
            gap: $gap-md;
            .row {
        
                .column:nth-child(1) {
                    width: 200px;
                    h6 {
                        font-weight: 900;
                        color: $primary-800;
                    }
                    
                }
                .column:nth-child(2) {
                    width: 500px;
                    p {
                        font-weight: 400;
                    }
                }
            }
        }

    }
}

.otherProductContainer {
    padding-bottom: $padding-xxl; 
    margin: 0 $margin-lg;
    @include flexColumn;
    align-items: center;
    gap: $gap-md;
    .row {
        @include flexRow;
        gap: $gap-md;
        justify-content: space-between;
        width: 100%;
    }
}