@use '../../../styles/layout/_breakpoint' as *;
@use '../../../styles/base/_variable' as *;
@use '../../../styles/abstract/_color' as *;
@use '../../../styles/base/_mixin' as *;


.hover-primary-300 {
    // &:hover {
    //     outline: 1px solid $primary-300;
    // } 
}
.hover-blue-300 {
    &:hover {
        outline: 1px solid $blue-300;
    } 
}
.hover-red-300 {
    &:hover {
        outline: 1px solid $red-300;
    } 
}



a.product-card {
    border-radius: $size-16;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    @include flexColumn;
    a {
        text-decoration: none;
    }
    .product-card-image {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $size-48 0;
        box-sizing: border-box;
        background-color: $primary-100;
        border-radius: 16px;
        border: 1px solid transparent;
        img {
            width: auto;
            object-fit: cover;
        }
        img.image-default {
            height: 230px;
        }
        img.image-small {
            height: 152px;
        }
    }
    .product-card-content {
        width: auto;
        height: auto;
        @include flexColumn;
        gap: $size-24;
        justify-content: space-between;
        padding: $size-24;
        box-sizing: border-box;

        .product-card-content-title {
            @include flexColumn;
            gap: $size-12;
            h5, p {
                text-align: center;
            }
            h5 {
                color: $neutral-800;
                font-family: 'Young Serif' serif;
                font-weight: bold;
                font-size: 38px;
                line-height: 115%;
            }
            p {
                font-size: 24px;
                color: $neutral-800;
                font-weight: 700;
            }
        }
        .product-card-content-chips {
            @include flexRow;
            gap: $size-12;
            justify-content: center;
        }
       
    }

    &:hover {
        .product-card-image  {
            border: 1px solid $primary-300;
            box-sizing:content-box;
        }
        .product-card-content {
            h5 {
                color: $primary-700;
            }
            p {
                color: $primary-800;
            }
            .product-card-content-chips {
                .chip {
                    background-color: $primary-500;
                }
            }
        }

    }


    @media (min-width: map-get($breakpoints, "xxs")) {
        .product-card-image {

        }
    }
    @media (min-width: map-get($breakpoints, "xs")) {
        .product-card-image {

        }
    }
    @media (min-width: map-get($breakpoints, "sm")) {
        .product-card-image {

        }
    }
    @media (min-width: map-get($breakpoints, "md")) {
        .product-card-image {

        }
    }
    @media (min-width: map-get($breakpoints, "lg")) {
        .product-card-image {

        }
    }
    @media (min-width: map-get($breakpoints, "xl")) {
        .product-card-image {

        }
    }
    @media (min-width: map-get($breakpoints, "xxl")) {
        .product-card-image {

        }
    }
}