@use '../../../styles/layout/_breakpoint' as *;
@use '../../../styles/base/_variable' as *;
@use '../../../styles/abstract/_color' as *;
@use '../../../styles/base/_mixin' as *;



a.product-card-link {
    background-color: $neutral-100;
    outline: 1px solid $neutral-100;
    border-radius: $size-16;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    @include flexColumn;
    a {
        text-decoration: none;
        box-sizing: border-box;
    }
    .product-card-image {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $size-48 0;
        img {
            width: auto;
            height: 160px;
            object-fit: cover;
        }
    }
    .product-card-content {
        width: auto;
        height: auto;
        @include flexColumn;
        gap: $size-24;
        justify-content: space-between;
        padding: $size-24;
        box-sizing: border-box;

        .product-card-content-title {
            @include flexColumn;
            gap: $size-12;
            h5, p {
                text-align: center;
            }
            h5 {
                color: $primary-600;
                font-weight: bold;
                font-size: 32px;
            }
            p {
                font-size: 26px;
                color: $primary-900;
            }
        }
        .product-card-content-chips {
            @include flexRow;
            gap: $size-12;
            justify-content: center;
        }
       
    }

    &:hover {
        outline: 1px solid $primary-300;
        transition: outline 0.2s;
        box-sizing: border-box;
        box-shadow: $base-shadow-4;
        .product-card-image  {
            img {
                transition: scale 0.2s;
                scale: 1.06;
            }
        }
        h5 {
            color: $primary-500;
        }
    }


    @media (min-width: map-get($breakpoints, "xxs")) {
        border-radius:$radius-sm;
    }
    @media (min-width: map-get($breakpoints, "xs")) {
        border-radius:$radius-sm;
    }
    @media (min-width: map-get($breakpoints, "sm")) {
        border-radius:$radius-sm;
    }
    @media (min-width: map-get($breakpoints, "md")) {
        border-radius:$radius-sm;
    }
    @media (min-width: map-get($breakpoints, "lg")) {
        border-radius:$radius-md;
    }
    @media (min-width: map-get($breakpoints, "xl")) {
        border-radius:$radius-md;
    }
    @media (min-width: map-get($breakpoints, "xxl")) {
        border-radius:$radius-md;
    }
}