@use '../../../styles/abstract/color' as *;
@use '../../../styles/base/variable' as *;

// Mixins
@mixin checkbox-base {
    width: 1.2em;
    height: 1.2em;
    border-radius: 4px;
    box-sizing: border-box;
}
@mixin checkboxInput {
    @include checkbox-base();
    position: absolute;
    top: 2px;
    left: 5px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    // background-color: $green-200;
}
@mixin checkboxCheckmark {
    @include checkbox-base();
    transition: background-color 0.3s ease-in-out;
    &:after {
        content: "";
        position: absolute;
        display: none;
        left: 3px;
        top: 1.5px;
        width: 3px;
        height: 7px;
        border: solid $green-400;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }   
}



.checkbox-container {
    display: flex;
    align-items: center;
}
.checkbox-container {
    label.checkbox {
        @include checkbox-base();
        background-color: $primary-100;
        position: relative;
        cursor: pointer;
      
        // Kada postoji bratski element s klasom "checkbox--checked"
        // Promijenite pozadinsku boju checkboxa
        &--checked {
        background-color: $primary-500; // Nova pozadinska boja kada je checkbox odabran
        }
        &:hover {
            background-color: $primary-500;
        }

        &:checked .checkmark::after {
            display: block;
            // background-color: $primary-700;
        }
    
        &--disabled {
            // background-color: $neutral-300;
            cursor: not-allowed;
        }
    
        &--error {
            // background-color: $red-100;
        }
        &--active {
            // background-color: $primary-700;
        }
    
        // input {
        //     @include checkboxInput(); 
        // }
        input[type="checkbox"] {
            @include checkboxInput(); 
          }
    
        input:checked ~ .checkmark {
            // background-color: $red-500;
        }
    
        input:checked ~ .checkmark:after {
            display: block;
        }
        // Dodatni stilovi za checkbox
        // Npr. veličina, padding, itd.
        // ...
  
        // Stilovi za oznaku (checkmark)
        .checkmark {
            @include checkbox-base();
            transition: background-color 0.3s ease-in-out;
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 8px;
                top: 4px;
                width: 3px;
                height: 8px;
                border: solid $green-400;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }
}
  
.checkbox {

    &:checked .checkmark::after {
        display: block;
        // background-color: $primary-700;
    }

    &--disabled {
        // background-color: $neutral-300;
        cursor: not-allowed;
    }

    &--error {
        // background-color: $red-100;
    }
    &--active {
        // background-color: $primary-700;
    }

    // input {
    //     @include checkboxInput(); 
    // }
    input[type="checkbox"] {
        @include checkboxInput(); 
      }

    input:checked ~ .checkmark {
        // background-color: $red-500;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}

  