@use '../../styles/layout/_breakpoint' as *;
@use '../../styles/base/_variable' as *;
@use '../../styles/abstract/_color' as *;

.chip {
  width: fit-content;;
  background: #FBF107;
  padding: $padding-xs $padding-md;
  border-radius: $base-border-radius-sm;

  color: $orange-800;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  


  @media (min-width: map-get($breakpoints, "xxs")) {
    padding: $padding-xs $padding-md;
    font-size: 15px;

  }
}

