
@use '../base/variable' as *;
@use '../base/mixin' as *;
@use './breakpoint' as *;
@use '../base/_variable' as *;
@use '../base/_mixin' as *;
@use '../abstract/_color' as *;


@mixin layout-container {
    @media (min-width: map-get($breakpoints, "xxs")) {
        padding: 0 $margin-sm;
    }
    @media (min-width: map-get($breakpoints, "xs")) {
        padding: 0 $margin-md;
    }
    @media (min-width: map-get($breakpoints, "sm")) {
        padding: 0 $size-98;
    }
    @media (min-width: map-get($breakpoints, "md")) {
        padding: 0 $size-98;
    }
    @media (min-width: map-get($breakpoints, "lg")) {
        padding: 0 $size-128;
    }
    @media (min-width: map-get($breakpoints, "xl")) {
        padding: 0 $size-128;
    }
    @media (min-width: map-get($breakpoints, "xxl")) {
        padding: 0 $size-192;
    }

}



// .layout-main {
//     @include layout-container;
// }




