@use '../../styles/base/_variable' as *;
@use '../../styles/abstract/_color' as *;
@use '../../styles/abstract/_typo' as *;
@use '../../styles/layout/_breakpoint' as *;
@use '../../styles/layout/_layout' as *;
@use '../../styles/base/_mixin' as *;

body {
    background-color: $red-100 !important;
}

main {
    @include flexColumn;
    @include layout-container;
    background-color: $red-100;
}
.row {
    @include flexRow;
}
.column {
    @include flexColumn;
}

.back-button {
    width: fit-content;
    height: $size-32;
    padding: 0 $size-16;
    cursor: pointer;
    @include flexRow;
    gap: $size-12;
    align-items: center;
    border-radius: 99px;
    background-color: $neutral-200;
    border: 0;
    img {}
    p {
        color: $red-300;
    }
}


// Product Page
.product-page {
    @include flexColumn;
    gap: $size-128;
    main.product-page-contianer {
        @include flexColumn;
        gap: $size-128;
    }

    .product-banner {
        @include flexColumn;
        gap: $size-64;
        background-color: $red-100;
        padding: $size-64;
        box-sizing: border-box;
        border-radius: $size-32;
        overflow: hidden;
        .productImage {
            width: 100%;
            box-sizing: border-box;
            @include flexColumn;
            align-items: center;
            justify-content: center;
            // img {
            //     width: 250px;
            //     height: auto;
            //     object-fit: cover;
            // }
        }

        .product-details {
            @include flexColumn;
            gap: $gap-md;
            width: 100%;
            box-sizing: border-box;
            h3, p.price {
                color: $red-900;
                font-weight: bold;
            }
            p.price { font-size: 38px; }
            p { color: $neutral-800; }

            .row-chips {
                @include flexRow;
                gap: $size-12;
                flex-wrap: wrap;
                justify-content: flex-start;
                .chip { background-color: $red-200; }
            }

            .product-details-list {
                @include flexColumn;
                gap: $gap-md;
                .flex {
                    p {
                        &:nth-child(1) {
                            font-weight: 800;
                        }
                        &:nth-child(2) {
                            font-weight: 500;
                        }
                    }
                }
            }

        }
    }


    .reviews {
        @include flexColumn;
        gap: $size-48;

        h4 {
            text-align: center;
        }
        .flex {
            @include flexColumn;
            gap: $size-64;
            .row {
                @include flexRow;
                gap: $size-98;
                &:nth-child(1) {
                    padding: 0 0 ;
                }
                &:nth-child(2) {
                    padding: 0 $size-48;
                }
                .review-user {
                    @include flexRow;
                    gap: $size-24;
                    align-items: center;
                    .review-user-image {
                        height: 80px;
                        width: 60px;
                        display: grid;
                        img {
                            width: 60px;
                            height: 60px;
                            max-width: fit-content;
                            object-fit: cover;
                        }
                    }
                    
                    .review-message {
                        background-color: $neutral-100;
                        padding: $size-12;
                        margin-top: $size-12;
                        border-radius: 0 $size-12 $size-12 $size-12;
                        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);;
                        box-sizing: border-box;
	                    position: relative;
                        &:before {
                            box-sizing: border-box;
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            left: -13px;
                           // border-top: 10px solid transparent;
                            border-bottom: 46px solid transparent;
                            border-left: 1px solid transparent;
                            border-right: 20px solid $neutral-100;
                            border-radius: 12px;
                            -webkit-filter: drop-shadow(0 6px 15px rgba(0, 0, 0, 0.1));
                            filter        : drop-shadow(0 6px 15px rgba(0, 0, 0, 0.1));
                            -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
                            filter        : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
                        }
                    }
                }
            }
        }
    }

    .product-promotion {
        @include flexColumn;
        // gap: $size-24;
        position: relative;
        // overflow: hidden;
        width: 100%;
        
        .pre-btn,
        .next-btn {
            border: none;
            height: $size-48;
            width: $size-48;
            border-radius: 999px;
            position: absolute;
            top: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $neutral-100;
            box-shadow: $base-shadow-3;
            cursor: pointer;
            img {
                width: 38px;
                height: auto;
                place-self: center;
            }
        }
        .pre-btn {
            left: -24px;
        }
        .next-btn {
            right: -24px;
        }


        .product-promotion-container {
            @include flexRow;
            gap: $size-24;
            overflow-x: hidden;
            scroll-behavior: smooth;
            padding: $size-24 $size-24;
            box-sizing: border-box;
            .product-promotion-card {
                flex: 0 0 30%
            }
        }
        .image-container {
            @include flexRow;
            gap: $size-24;
            img {
                width: auto;
                height: 150px;
                max-width: fit-content;
                object-fit: cover;
            }
        }
    }


    @media (min-width: map-get($breakpoints, "xs")) {
        .product-banner {
            @include flexColumn;
            padding: $size-48;
            border-radius: $size-32;
            .productImage {

            }

            .product-details {

            }
        }   
    }
    @media (min-width: map-get($breakpoints, "sm")) {

    }
    @media (min-width: map-get($breakpoints, "md")) {
        .product-banner {
            @include flexRow;
            padding: $size-64;
            .productImage {

            }

            .product-details {

            }
        } 
    }
    @media (min-width: map-get($breakpoints, "lg")) {

    }
    @media (min-width: map-get($breakpoints, "xl")) {

    }
    @media (min-width: map-get($breakpoints, "xxl")) {
    }
}




/* Collapse */
.kolaps {
    width: auto;
    background-color: transparent;
    border-bottom: 1px solid $neutral-800;
    padding: $size-12 $size-4;
    cursor: pointer;
    position: relative;
    h5 {
        font-style: bold;
        font-weight: 800;
        // font-size: 1.2em;
        color: $neutral-800;
        text-align: left;
    }

    &::before {
        border: 1px solid;
        bottom: 30%;
        content: "";
        height: 24px;
        position: absolute;
        right: 20px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        transform: rotate(90deg);
    }
    &::after {
        border: 1px solid;
        bottom: 30%;
        content: "";
        height: 24px;
        position: absolute;
        right: 20px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        transform: rotate(0deg);
    }
  } 
    .active_Collapse {
        
        &::before {
            transform: rotate(135deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    
    .kolapsSadrzaj {
      height: auto;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      display: block;
      .kolapsInner {
        @include flexColumn;
        gap: $size-24;
        padding: 20px;
        box-sizing: border-box;
        width: 100%;

      }
      .button-container {
        text-align: right;
      }
    }