
@use '../../../styles/abstract/_color' as *;
@use '../../../styles/base/_variable' as *;
@use '../../../styles/base/_mixin' as *;

@use '../../../styles/layout/_breakpoint' as *;
@use '../../../styles/abstract/_color' as *;
@use '../../../styles/layout/_grid' as *;
@use '../../../styles/abstract/_typo' as *;

@mixin background-vawe {
    content: "";
    position: absolute; 
    top: -20px;
    left: 0;
    width: 100%;
    height: 26px;
    background-size: cover; 
    z-index: 1;
}

.primary-200 {
    background-color: $primary-200;
    &::after {
        @include background-vawe;
        background-image: url(/images/vawe/vawe-top-green-200.svg);
    } 
}
.primary-800 {
    background-color: $primary-800;
    &::after {
        @include background-vawe;
        background-image: url(/images/vawe/vawe-top-green-800.svg);
    } 
}
.red-200 {
    background-color: $red-200;
    &::after {
        @include background-vawe;
        background-image: url(/images/vawe/vawe-top-red-200.svg);
    } 
}
.red-300 {
    background-color: $red-300;
    &::after {
        @include background-vawe;
        background-image: url(/images/vawe/vawe-top-red-300.svg);
    } 
}
.blue-200 {
    background-color: $blue-200;
    &::after {
        @include background-vawe;
        background-image: url(/images/vawe/vawe-top-blue-200.svg);
    } 
}
.blue-800 {
    background-color: $blue-800;
    &::after {
        @include background-vawe;
        background-image: url(/images/vawe/vawe-top-blue-800.svg);
    } 
}


.footer {
    position: relative;
    padding: $size-64 $margin-sm;
    color: $neutral-100;
    overflow: visible;
    background-color: $primary-800;
    z-index: 999;
    &::after {
        @include background-vawe;
        background-image: url(/images/vawe/vawe-top-green-800.svg);
        content: "";
        position: absolute; 
        top: -20px;
        left: 0;
        width: 100%;
        height: 26px;
        background-size: cover; 
        z-index: 1; 
    }
    .footer-container {
        @include flexColumn;
        gap: $gap-xl; 

        .logo {
            @include flexColumn;
            gap: $size-12;
            h2 {
                text-align: center;
            }
        }
        .footerTop {
            @include flexColumn;
            gap: $size-48;
            justify-content: space-between;
            align-content: flex-start;
    
            .topNav {
                @include flexColumn;
                gap: $size-64;
            }
            nav {
                @include flexRow;
                justify-content: center;
                gap: $size-24;
                .nav-column {
                    @include flexColumn;
                    gap: $size-12;
                    width: auto;
                    h4 {
                         
                    }
                    a {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                        color: $neutral-100;
                        text-decoration: none;
                    }
                    .column {
                        @include flexColumn;
                        gap: $size-12;
                    }
                }
            } 
            .social {
                gap: $size-12;
                align-items: center;
                .row {
                    gap: $size-16;
                    img {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .line {
            height: 1px;
            width: 100%;
            background-color: $neutral-100;
        }
        .footerBottom {
            @include flexColumn;
            gap: $size-24;
            align-items: center;
            justify-content: space-between;
            .row {
                gap: $gap-md; 
            }
            p {
                text-align: center;
            }
        }
    }


    @media (min-width: map-get($breakpoints, "xxs")) {
        padding: $size-64 $margin-sm;
        .footer-container {
            align-items: center;
            .footerTop {
                width: 100%;
                flex-direction: column;
                gap: $size-64;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                    align-items: center;
                }
                .topNav {
                    gap: $size-64;
                    nav.row {
                        justify-content: space-between;
                    }
                }
                nav {
                    @include flexRow;
                    justify-content: center;
                    gap: $size-64;
                } 
            }
            .footerBottom {
                width: 100%;
                flex-direction: column;
                gap: $gap-lg;
            }
        } 
    }
    @media (min-width: map-get($breakpoints, "xs")) {

    }
    @media (min-width: map-get($breakpoints, "sm")) {
        padding: $size-64  $margin-md;
    }
    @media (min-width: map-get($breakpoints, "md")) {
        padding: $size-64  $margin-md;
        .footer-container {
            .footerTop {
                flex-direction: row;
                gap: $gap-lg;
                nav {
                    gap: $size-64;
                }
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                    h2 {
                        text-align: left;
                    }
                }
                .topNav {
                    flex-direction: column;
                    gap: $size-64;
                }
            }
            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
    }
    @media (min-width: map-get($breakpoints, "lg")) {
        padding: $size-64  $margin-md;
        .footer-container {
            .footerTop {
                flex-direction: row;
                justify-content: space-between;
                gap: $size-48;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: column;
                    gap: $size-64;
                }
            }
            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
        
        
    }
    @media (min-width: map-get($breakpoints, "xl")) {
        padding: $size-64 $margin-md;
        .footer-container {
            .footerTop {
                flex-direction: row;
                gap: $gap-lg;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: column;
                    gap: $gap-xl;
                }
            }
            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
        
    }
    @media (min-width: map-get($breakpoints, "xxl")) {
        padding: $size-64 $margin-lg;
        .footer-container {
            width: auto;
            .footerTop {
                flex-direction: row;
                gap: $gap-lg;
                .logo {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .topNav {
                    flex-direction: column;
                    gap: $gap-xl;
                }
            }

            .footerBottom {
                width: 100%;
                flex-direction: row;
            }
        }
    }
}
