@use '../styles/base/_variable' as *;
@use '../styles/abstract/_color' as *;
@use '../styles/abstract/_typo' as *;
@use '../styles/layout/_breakpoint' as *;
@use '../styles/layout/_layout' as *;
@use '../styles/base/_mixin' as *;


.contact-page {
    @include main-page-layout;
    main.contact-page-container {
        @include layout-container;
        position: relative; 
        @include flexRow;
        align-items: center;
        gap: $size-128;
        .second-nav-container {
            @include flexRow;
            width: 100%;
        }
        .contact-container {
            @include flexColumn;
            gap: $size-24;
            .flex {
                @include flexColumn;
                align-items: flex-start;
                justify-content: center;
                gap: $size-24;
                width: 100%;
                .contact-icon {
                    @include flexRow;
                    align-items: center;
                    gap: $size-24;
                    .icon {
                        background-color: $neutral-200;
                        border-radius: $radius-lg;
                        width: $size-48;
                        height: $size-48;
                        @include flexColumn;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: $size-24;
                            height: $size-24;
                        }
                    }
                }
            }
        }
        form {
            @include flexColumn;
            gap: $size-24;
            align-items: center;
            .column {
                @include flexColumn;
                gap: $size-24;
                width: 100%;
                .input, .textbox {
                    width: 100%;
                    label {
                        color: $neutral-800;
                    }
                }
            }
            .button {
                color: $neutral-100;
            }
            
        }
    }
    .page-title {
        width: fit-content;
        border-radius: $size-16;
        background-color: $primary-100;
        padding: $size-16 $size-32;
        h1 {
            color: $primary-900;
            width: fit-content;
            font-size: 65px;
            font-weight: bold;
        }
    }


    @media (min-width: map-get($breakpoints, "xxs")) {
        // background-color: pink;
    }
    @media (min-width: map-get($breakpoints, "xs")) {
        // background-color: goldenrod;
    }
    @media (min-width: map-get($breakpoints, "sm")) {
        // background-color: red;
    }
    @media (min-width: map-get($breakpoints, "md")) {
        // background-color: purple;
        .contact-page-container {
            .layout-main-container {
                @include flexRow;

                gap: $size-24;
                .flex {
                    @include flexRow;
                    gap: $size-48;
                    justify-content: center;
                    .contact-icon {
                        @include flexColumn;
                        .icon {
                            width: $size-64;
                            height: $size-64;
                            img {
                                width: $size-32;
                                height: $size-32;
                            }
                        } 
                    }
                }
            }

        }
    }
    @media (min-width: map-get($breakpoints, "lg")) {
        // background-color: blue;
    }
    @media (min-width: map-get($breakpoints, "xl")) {
        // background-color: brown;
    }
    @media (min-width: map-get($breakpoints, "xxl")) {
        // background-color: $neutral-700;
    }
}