@use '../styles/base/_variable' as *;
@use '../styles/abstract/_color' as *;
@use '../styles/abstract/_typo' as *;
@use '../styles/layout/_breakpoint' as *;
@use '../styles/layout/_layout' as *;
@use '../styles/base/_mixin' as *;


.products-page {
    .products-page-container {
        @include layout-container;
        @include flexColumn;
        width: auto;
        height: auto;
        gap: $size-24;
        background-color: $neutral-300;

        .product-promotion {
            @include flexRow;
            gap: $size-24;
            width: 100%;
            .product-promotion-card {
                width: 100%;
                height: 250px;
                box-sizing: border-box;
                overflow: hidden;
                
                &:nth-child(1) { 
                    background-color: $primary-100;
                    outline: 1px solid $primary-100;
                    &:hover {
                        outline: 1px solid $primary-300;
                        transition: outline 0.3s;
                    }
                 }
                &:nth-child(2) { 
                    background-color: $blue-100;
                    outline: 1px solid $blue-100;
                    &:hover {
                        outline: 1px solid $blue-300;
                        transition: outline 0.3s;
                    }
                 }
                &:nth-child(3) { 
                    background-color: $orange-100;
                    outline: 1px solid $orange-100;
                    &:hover {
                        outline: 1px solid $orange-300;
                        transition: outline 0.3s;
                    }
                 }
                @include flexRow;
                gap: $size-24;
                border-radius: $size-16;
                padding: $size-24;
                box-sizing: border-box;

                .promotion-content {
                    @include flexColumn;
                    justify-content: space-between;
                    .promotion-content-title {
                        @include flexColumn;
                        gap: $size-8;
                    }
                    a {
                        text-decoration: none;
                    }
                }
                .promotion-image {
                    width: 100%;
                    display: grid;
                    img {
                        place-self: center;
                        height: auto;
                        width: auto;
                        object-fit: cover;
                    }
                }
                &:hover {
                    box-shadow: $base-shadow-4;
                    cursor: pointer;
                    .promotion-image {
                        transition: scale 0.2s;
                        scale: 1.06;
                    }
                }   
            }
        }

        .product-cards {
            @include flexColumn;
            gap: $size-24;
            .product-cards-title {
                h2 {
                    text-align: center;
                }
            }
            .product-cards-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: $size-24;
                box-sizing: border-box;
                a {
                    // width: auto;
                    text-decoration: none;
                }
                .otherProductCard {
                    max-width: 420px;
                }
            }
        }
        

        @media (min-width: map-get($breakpoints, "xxs")) {

        }
        @media (min-width: map-get($breakpoints, "xs")) {
            .product-cards {
                .product-cards-container { 
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
        @media (min-width: map-get($breakpoints, "sm")) {
            .product-cards {
                .product-cards-container { 
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
        @media (min-width: map-get($breakpoints, "md")) {
            .product-cards {
                .product-cards-container { 
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
        @media (min-width: map-get($breakpoints, "lg")) {

        }
        @media (min-width: map-get($breakpoints, "xl")) {

        }
        @media (min-width: map-get($breakpoints, "xxl")) {

        }
    }
}

