
@use '../../styles/layout/_breakpoint' as *;
@use '../../styles/base/_variable' as *;
@use '../../styles/base/_variable' as *;

.navbar {
    border: 1px solid red;
    height: 96px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    .navbar-left {
        border: 1px solid red;
        align-items: center;
        gap: 48px;
        display: flex;
    }
    img {
        width: 45px;
        height: auto;
    }
    .logo {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        h4 {
            font-family: 'Champagne & Limousines';
            font-weight: 700;
            font-size: 21px;
            line-height: 115%;
        }
    }
    .links {
        display: flex;
        gap: $gap-md;
        border: 1px solid blue;
        height: 100%;
        width: auto;
        align-items: center;
        a {
            font-size: 24px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0;
            text-decoration: none;
            font-family: 'Work Sans', sans-serif;
        }
    }
    .language {
        display: flex;
        border: 1px solid green;
        align-items: center;
    }


    @media (min-width: map-get($breakpoints, "xs")) {
        margin: 0 $margin-sm;
    }
    @media (min-width: map-get($breakpoints, "sm")) {
        margin: 0 $margin-sm;
    }
    @media (min-width: map-get($breakpoints, "md")) {
        margin: 0 $margin-md;
    }
    @media (min-width: map-get($breakpoints, "lg")) {
        margin: 0 $margin-lg;
    }
    @media (min-width: map-get($breakpoints, "xl")) {
        margin: 0 $margin-lg;
    }

}