@use '../../styles/layout/_breakpoint' as *;
@use '../../styles/base/_variable' as *;
@use '../../styles/abstract/_color' as *;
@use '../../styles/base/_mixin' as *;


.firstTab {
    display: flex;
    gap: $gap-xl;
    flex-wrap: wrap;
    justify-content: center;
    a.productCard  {
        max-width: 350px;
    }
    @media (min-width: map-get($breakpoints, "xxs")) {
        flex-direction: column;
      }
      @media (min-width: map-get($breakpoints, "xs")) {
        flex-direction: row;
      }
      @media (min-width: map-get($breakpoints, "sm")) {
        flex-direction: row;
      }
      @media (min-width: map-get($breakpoints, "md")) {
        flex-direction: row;
      }
      @media (min-width: map-get($breakpoints, "lg")) {
        flex-direction: row;
      }
      @media (min-width: map-get($breakpoints, "xl")) {
        flex-direction: row;    
      }
      @media (min-width: map-get($breakpoints, "xxl")) {
        flex-direction: row;
      }
}