@use '../../styles/layout/_breakpoint' as *;
@use '../../styles/base/_variable' as *;
@use '../../styles/abstract/_color' as *;


.items {
    display: block;
    gap: $gap-md;
    // width: 100%;
    // overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    // user-select: none;
    cursor: pointer;
    transition: all 0.5s;
    // will-change: transform;
    // position: relative;

    height: 450px;
    width: 100%;
  }
  
  .items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1.035);
    .item {
        box-shadow: $shadow-lg;
    }
  }
  
  .item {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: $pading-lg;

    img {
        border-radius: 16px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
  }
  

  
  .item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
  .item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }
  