@use '../styles/base/_variable' as *;
@use '../styles/abstract/_color' as *;
@use '../styles/abstract/_typo' as *;
@use '../styles/layout/_breakpoint' as *;
@use '../styles/layout/_layout' as *;
@use '../styles/base/_mixin' as *;
@use '../styles/abstract/_gooey' as *;

.faq-title {
    width: 100%;
    @include flexColumn;
    .faq-text-container {
        @include flexColumn;
        gap: $size-12;
        p {
            width: 360px;
        }
    }
    .row {
        gap: $size-24;
        .info {
            @include flexRow;
            gap: $size-8;
            align-items: center;

            background-color: $neutral-100;
            padding: $size-12 $size-16;
            border-radius: $size-16;
            box-shadow: $base-shadow-1;
            p { 
                color: $neutral-800;
                font-weight: 600;
            }
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}
  
// Product Page
.faq-page {
    @include main-page-layout;
    
    main.faq-page-contianer {
        @include main-page-container;
        @include flexColumn;
        gap: $size-64;
        .content-container {
            @include flexColumn;
            gap: $size-64;
            width: 100%;
            justify-content: space-between;
        }
        ul {
            @include flexColumn;
            gap: $size-16;

            li {
                list-style: none;
                font-size: 18px;
                @include flexColumn;
                gap: $size-16;
                .question {
                    h5 {
                        font-size: 21px;
                    }
                }
                .answer {
                    font-size: 21px;
                    font-weight: 500;
                    color: $neutral-800;
                    padding-left: 12px;
                    box-sizing: border-box;
                    @include flexRow;
                    gap: $size-12;
                    span {
                        height: 100%;
                        width: 3px;
                        border-radius: 99px;
                        background-color: $primary-700;
                    }

                }
            }
        }
        .related {
            @include flexColumn;
            gap: $size-16;
            h5 {
                font-family: "Work Sans", sans-serif;
                font-weight: bold;
                font-size: 21px;
                color: $primary-900;
            }
            ul {
                @include flexColumn;
                gap: $size-12;
                li {
                    font-weight: 600;
                    color: $primary-700;
                }
            } 
        }

        .question, .link {
            font-weight: 600;
            font-size: 18px;
            color: $primary-700;
            cursor: pointer;
        }
    }

    @media (min-width: map-get($breakpoints, "xs")) { 
    }
    @media (min-width: map-get($breakpoints, "sm")) {
    }
    @media (min-width: map-get($breakpoints, "md")) {
        main.faq-page-contianer {
            .content-container {
                @include flexRow;
                gap: $size-64;
                ul {
                    gap: $size-32;
                }
            }
        }
        
    }
    @media (min-width: map-get($breakpoints, "lg")) {
    }
    @media (min-width: map-get($breakpoints, "xl")) {
    }
    @media (min-width: map-get($breakpoints, "xxl")) {
    }
}
