@use '../../../styles/layout/_breakpoint' as *;
@use '../../../styles/base/_variable' as *;
@use '../../../styles/abstract/_color' as *;
@use '../../../styles/base/_mixin' as *;

.chip {
  width: fit-content;;
  background: $neutral-300;
  padding: $size-12 $size-12;
  border-radius: $size-8;

  color: $orange-800;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  
  height: fit-content;

  @media (min-width: map-get($breakpoints, "xxs")) {
    padding: $padding-xs $padding-md;
    font-size: 15px;

  }
}

.titleWithChip {
  @include flexColumn;
  gap: $gap-sm;
  align-items: flex-start;
  h3 {
    text-align: left;
  }

  @media (min-width: map-get($breakpoints, "xxs")) {

  }
  
  @media (min-width: map-get($breakpoints, "xs")) {

  }
  
  @media (min-width: map-get($breakpoints, "sm")) {

  }
  
  @media (min-width: map-get($breakpoints, "md")) {

  }
  
  @media (min-width: map-get($breakpoints, "lg")) {
    width: 100%;
  }
  
  @media (min-width: map-get($breakpoints, "xl")) {
  }
  
  @media (min-width: map-get($breakpoints, "xxl")) {
  }

}
