@use '../../../styles/layout/_breakpoint' as *;
@use '../../../styles/base/_variable' as *;
@use '../../../styles/abstract/_color' as *;
@use '../../../styles/base/_mixin' as *;

.collapse-container {
  @include flexColumn;
  gap: $size-12;



  .collapse-content {
    @include flexColumn;
    gap: $size-12;
    overflow: hidden;
    transition: display 0.3s ease-in-out 0s;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .collapse-item {
      @include flexColumn;
      padding-left: $size-4;
      box-sizing: border-box;
      width: 100%;
      p.collapse-title {
        font-weight: 700;
      }
      p.collapse-description {}
    }
  }
}





/* Collapse */
.collapse-header {
  width: auto;
  background-color: transparent;
  border-bottom: 1px solid $neutral-800;
  padding: $size-12 $size-4;
  cursor: pointer;
  position: relative;
  h5 {
    font-style: bold;
    font-weight: 800;
    color: $neutral-800;
    text-align: left;
  }

  &::before {
      border: 1px solid;
      bottom: 30%;
      content: "";
      height: 24px;
      position: absolute;
      right: 20px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      transform: rotate(90deg);
  }
  &::after {
      border: 1px solid;
      bottom: 30%;
      content: "";
      height: 24px;
      position: absolute;
      right: 20px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      transform: rotate(0deg);
  }
}



.active_Collapse {
    &::before {
        transform: rotate(135deg);
    }
    &::after {
        transform: rotate(45deg);
    }
}